
body {background-color: pink}
h1. h2, {color: orange; font-size:42px}
p {color:purple; font-size:13px; text-align:center; background-color:blue}
.y {color:green; font-size:21px}
.x {text-align: right}
.z {background-color:red}
#y {color: yellow}
p.y {font-size:50px}
